@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.NewComputerFormContainer{
	font-family: Roboto;
	font-size: 20px;
	width: 80%;
        background-color: navy;
	text-align: center;
	color: gold;
	
}

.firstLineGen{
	display: inline block;
	justify-content: space-evenly;
	padding-left: 20%;
	text-align: left;
	padding-left: 50px;
}

.secondLineGen{
	display: inline block;
	justify-content: right;
	padding-left: 20%;
	text-align: left;
	padding-left: 50px;
}

.thirdLineGen{
	display: inline block;
        justify-content: right;
	padding-left: 20%;
	text-align: left;
	padding-left: 50px;
}

.fourthLineGen{
	display: inline block;
	justify-content: space-evenly;
	padding-left: 20%;
	text-align: left;
	padding-left: 50px;
}	

.lastLineGen{
	display: inline block;
	justify-content: space-evenly;
	padding-left: 20%;
	text-align: left;
	padding-left: 50px;
}

.optionalFormContainer{
	display: inline block;
	justify-content: space-evenly;
	padding-left: 20%;
	text-align: left;
	padding-left: 50px;
}
.userProfConfigContain{}
.systemConfigContain{}
.applicationsContain{}
.OptimizationsContain{}
.finalitemsContain{}
